/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 21 de mar de 2025, 10:17:41
    Author     : 12061351662
*/
nav ul{
    list-style-type: none; /*remove marcadores da lista*/
    padding: 10px;  /*espaço entre as barras da lista , margem interna*/
    background-color: #333  /*cor de fundo da barra de navegação*/
}
nav ul li{
    display: inline;  /* exibe os itens da lista lado a lado , em uma linha*/
    margin-right: 10px  /*espaçamento entre itens*/
}
nav ul li a{
    color:white;  /*cor de texto dos links*/
    text-decoration: none;  /*remove o sublinhado dos links*/
    font-weight: bold;  /*texto dos links negrito*/
}
nav ul li a:hover{
    color:#ccc;  /*cor do texto dos links ao passar o mouse*/
}
